<div class="main-contents">
  <div class="time-line">
    <div class="profile-edit">
      <%= form_with model: current_user, local: true do |f|%>
        <% if current_user.errors.any? %>
        <% end %>
        <div class="profile-image-edit">
          <div class="edit-user-icon">
            <% if @icon.present? %>
              <%= image_tag @icon, class: "edit-icon" %>
            <% else %>
              <%= image_tag "default_user.png", class: "edit-icon" %>
            <% end %>
          </div>
          <div class="upper-profile-area">
            <span class="profile-account"><%= current_user.account %></span>
            <label class="form-icon">
              <div class="icon-file">プロフィール写真を変更</div> 
              <%= f.file_field :icon, class: "hidden" %>
            </label>
          </div>
          <div class="password-change">
            <%= link_to "パスワードを変更する", root_path %>
          </div>
        </div>
        <div class="user-form">
          <%#= render "layouts/error_messages", model: f.object %>

          <div class="field">
            <%= f.label :name, "名前" %><br />
            <% if current_user.errors.include?(:name) %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "profile-box-error margin-l30", placeholder: current_user.errors.full_messages_for(:name).first %>
            <% else %>
            <%= f.text_field :name, autofocus: true, class: "profile-box margin-l30" %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :email, "Ｅメール" %><br />
            <% if current_user.errors.include?(:email) %>
              <%= f.email_field :email, autocomplete: "email", class: "profile-box-error margin-l30", placeholder: current_user.errors.full_messages_for(:email).first %>
            <% else %>
              <%= f.email_field :email, class: "profile-box margin-l30" %>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :profile, "自己紹介" %><br />
            <%= f.text_area :profile, class: "profile-box2 margin-l30" %>
          </div>
          
          <div class="actions">
            <%= f.submit "保存する", class: "btn save-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>