<div class="main-contents">
  <div class="time-line centering">
    <div class="content">
      <h4 class="title">おすすめ</h4>
      <% @users.each do |user| %>
        <div class="follow-content">
          <div class="follow-upper-content">
            <div class="user-area">
              <div class="user-icon">
                <%= link_to user_path(user) do %>
                  <% if user.icon.attached? %>
                    <%= image_tag user.icon, class: "icon" %>
                  <% else %>
                    <%= image_tag "default_user.png", class: "icon" %>
                  <% end %>
              </div>
              <div class="user">
                  <div class="user-name b">
                    <%= user.name %>
                  </div>
                  <div class="follow-account">
                    <%= user.account %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="follow-user-profile text">
            <%= user.profile %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>