<div class="main-contents">
  <div class="time-line">
    <div class="contents">
      <div class="user-info">
        <div class="user-upper-content">
          <div class="user-area2">
            <div class="user-icon2">
              ◎
            </div>
            <div class="user2">
              <span class="user-name2">
                <a href="/users/<%= @user.id %>">
                  <%= @user.name %>
                </a>
              </span>
              <p class="user-account"><%= @user.account %></p>
              <p class="follow-count">88フォロー中 92フォロワー<p>
            </div>
          </div>
          <% unless @user.id == current_user.id %>
            <div class="follow-btn">
                フォロー
            </div>
          <% end %>
        </div>
        <div class="user-profile">
            <%= @profile %>
        </div>
      </div>
      <% @posts.each do |post| %>
        <div class="content">
          <div class="upper-content">
            <div class="user-area">
              <div class="user-icon">
                ◎
              </div>
              <div class="user">
                <span class="user-name">
                    <a href="/users/<%= post.user.id %>">
                      <%= post.user.name %>
                    </a>
                </span>
                <div class="limit-time">
                  6時間
                </div>
              </div>
            </div>
            <div class="more">
              <i class="uil uil-ellipsis-h"></i>
              <ul class="more_list">
                <li>
                  <%= link_to '詳細', post_path(post.id), method: :get %>
                </li>
                <% if user_signed_in? && current_user.id == post.user_id %>
                  <li>
                    <%= link_to '編集', edit_post_path(post.id), method: :get %>
                  </li>
                  <li>
                    <%= link_to '削除', post_path(post.id), method: :delete %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="content_post">
            <p><%= post.text %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="recommendation">
    </div>
  </div>
</div>