<div class="background">
  <div class="LR">
    <div class="left-contents">
      <h1 class="catchphrase">
        それはほぼ、
        今日の出来事。
      </h1>
    </div>
    <div class="right-contents">
      <div class="title-logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <div class="new-container">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "box" %>
          </div>

          <div class="actions">
            <%= f.submit "パスワード再設定メールを送る", class: "btn" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <div class="footer">
    ©2022 STUDIO PAGURO
  </div>
</div>