<div class="background">
  <div class="LR">
    <div class="left-contents">
      <h1 class="catchphrase">
        それはほぼ、
        今日の出来事。
      </h1>
    </div>
    <div class="right-contents">
      <div class="title-logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
        <% end %>
      </div>
      <div class="container">
        <% if alert %>
          <div class="error-alert">
            <%= flash[:alert] %>
          </div>
        <% end%>
        <%= form_with model: @user, url: user_session_path, id: "new_user", class: "new_user", local: true do |f| %>

          <div class="form-field">
            <%= f.label :email, "Ｅメール" %><br />
            <%= f.email_field :email, autofocus: true, class: "box", placeholder: "メールアドレス" %>
          </div>

          <div class="form-field">
            <%= f.label :password, "パスワード" %>
            <span class="forget-area">
              <%= link_to "パスワードを忘れた方", new_user_password_path, class: "forget" %>
            </span>
            <%= f.password_field :password, autocomplete: "off", class: "box", placeholder: "パスワード" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "次回から自動的にログインする" %>
            </div>
          <% end %>

          <div class="btn-field">
            <%= f.submit "ログイン", class: "login-btn" %>
          </div>
        <% end %>
        <div class="registration">
          <%= link_to "新規登録はこちらから", new_user_registration_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    ©2022 STUDIO PAGURO
  </div>
</div>