<div class="content">
  <div class="upper-content">
    <div class="user-area">
      <div class="user-icon">
        ◎
      </div>
      <div class="user">
        <span class="user-name">
          <%= link_to post.user.name, user_path(post.user.id) %>
        </span>
        <div class="limit-time">
          6時間
        </div>
      </div>
    </div>
    <div class="more">
      <i class="uil uil-ellipsis-h"></i>
      <ul class="more_list">
        <li>
          <%= link_to '詳細', post_path(post.id), method: :get %>
        </li>
        <% if user_signed_in? && current_user.id == post.user_id %>
          <li>
            <%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: "削除しますか？" } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="content-post">
    <p><%= post.text %></p>
    <div class="post-image-field">
      <%= link_to image_tag(post.image.variant(resize: "640x720")), post_path(post.id), class: "post-image" if post.image.attached? %>
    </div>
  </div>
</div>