<div class="content">
  <div class="upper-content">
    <div class="user-area">
      <div class="user-icon">
        <% if post.user.icon.attached? %>
          <%= image_tag post.user.icon, class: "icon" %>
        <% else %>
          <%= image_tag "default_user.png", class: "icon" %>
        <% end %>
      </div>
      <div class="user">
        <span class="user-name">
          <%= link_to post.user.name, user_path(post.user.id) %>
        </span>
        <div class="limit-time">
          <%= time_ago_in_words(post.created_at) %>
        </div>
      </div>
    </div>
    <div class="more">
      <i class="uil uil-ellipsis-h"></i>
      <ul class="more_list">
        <li>
          <%= link_to "詳細", post_path(post.id), method: :get %>
        </li>
        <% if user_signed_in? && current_user.id == post.user_id %>
          <li>
            <%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: "削除しますか？" } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="content-post">
    <p><%= post.text %></p>
    <div class="post-image-field">
      <%= link_to image_tag(post.image.variant(resize: "640x720")), post_path(post.id), class: "post-image" if post.image.attached? %>
    </div>
  </div>
  <div class="reaction">
    <div class="reaction-btn">
      <div class="heart">
        <i class="uil uil-heart"></i>
      </div>
      <div class="comment2">
        <%= link_to post_path(post.id), class: "comments-count" do %>
          <i class="uil uil-comment"></i>
          <% unless post.comments.count == 0 %>
            <%= post.comments.count %>
          <% end %>
        <% end %>
      </div>
      <div class="dayglass">
        <i class="uil uil-hourglass"></i>
      </div>
    </div>
  </div>
</div>