<div class="main-contents">
  <div class="time-line">
    <div class="detailed-content">
      <div class="upper-content">
        <div class="user-area">
          <div class="user-icon2">
            <%= link_to user_path(@post.user.id) do %>
              <% if @post.user.icon.attached? %>
                <%= image_tag @post.user.icon, class: "icon" %>
              <% else %>
                <%= image_tag "default_user.png", class: "icon" %>
              <% end %>
          </div>
          <div class="user">
              <div class="user-name b">
                <%= @post.user.name %>
              </div>
            <% end %>
            <div class="limit-time">
              <% if @post.created_at < (Time.now - 21.hours) %>
                <div class="time-ago-in-words-red">
                  <%= time_ago_in_words(@post.created_at) %>
                </div>
              <% else %>
                <div class="time-ago-in-words">
                  <%= time_ago_in_words(@post.created_at) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <% if current_user.id == @post.user_id %>
          <div class="leader">
            <i class="fa-solid fa-ellipsis"></i>
            <ul class="leader_list">
              <li>
                <%= link_to '編集', edit_post_path(@post.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', post_path(@post.id), method: :delete, data: { confirm: "削除しますか？" } %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>

      <div class="detailed-content_post">
        <p><%= @post.text %></p>
        <div class="post-image-field">
          <%= image_tag @post.image.variant(resize: "974x720"), class: "post-image" if @post.image.attached? %>
        </div>
      </div>

      <div class="reaction-area">
        <div class="heart reaction-icon">
          <div class="like" id="post_<%= @post.id %>">
            <%= render partial: "likes/like", locals: { post: @post, like: @like } %>
          </div>
        </div>

        <div class="comment2 reaction-icon">
          <i class="fa-regular fa-comment margin-r5"></i>
          <% unless @post.comments.count == 0 %>
            <%= @post.comments.count %>
          <% end %>
        </div>

        <%#<div class="dayglass reaction-icon">
          <i class="fa-regular fa-hourglass margin-r10"></i>
        </div>%>

        <div class="comment-form-area">
          <%= form_with(model: [@post, @comment], class: "form", local: true) do |f| %>
            <%= f.text_area :text, placeholder: "コメントする", rows: "1", class: "comment-form" %>
            <%= f.submit "投稿する", class: "btn" %>
          <% end %>
        </div>
      </div>
     
      <div class="comments">
        <% @comments.each do |comment| %>
          <div class="comment-area">
            <div class="user-icon">
              <% if comment.user.icon.attached? %>
                <%= image_tag comment.user.icon, class: "icon" %>
              <% else %>
                <%= image_tag "default_user.png", class: "icon" %>
              <% end %>
            </div>
            <div class="comment">
              <p><span class="b"><%= link_to comment.user.name, user_path(comment.user_id) %></span>  - - - <%= time_ago_in_words(comment.created_at) %></p>
              <%= comment.text %>
            </div>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>