<!DOCTYPE html>
<html>
  <head>
    <title>Dayglass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%# <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <% if user_signed_in? %>
        <header class="header">
          <div class="header-contents">
            <div class="left-header">
              <%= link_to image_tag("logo.png", class: "logo"), "/" %>
              <%= form_with url: search_posts_path, local: true, method: :get, class: "search-form" do |f| %>
                <%= f.text_field :keyword, placeholder: "検索", class: "search-input" %>
                <% f.submit %>
              <% end %>
            </div>
            <div class="right-header">
              <div class="user-nav">
                <%= link_to current_user.account, user_path(current_user.id) %>
                <%= link_to edit_user_path(current_user), class: "setting" do %>
                  <i class="fa-solid fa-gear"></i>
                <% end %>
              </div>
              <div class="new-post-icon">
                <%= link_to new_post_path, class: "new-post" do %>
                <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
              </div>
            </div>
          </div>
        </header>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>