<!DOCTYPE html>
<html>
  <head>
    <title>Dayglass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header-contents">
          <div class="left-header">
            <%= link_to image_tag("logo.png", class: "logo"), "/" %>
            <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
              <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
              <% form.submit %>
            <% end %>
          </div>
          <div class="right-header">
            <% if user_signed_in? %>
              <div class="user-nav">
                <ul class="user__info">
                  <li>
                    <%= link_to current_user.name, "/users/#{current_user.id}" %>
                    <%= link_to current_user.account, "/users/#{current_user.id}" %>
                    <%= link_to %>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
                <%= link_to new_post_path, class: "new-post" do %>
                <i class="uil uil-edit"></i>
                <% end %>
              </div>
            <% else %>
              <div class="grid-6">
                <%= link_to "ログイン", new_user_session_path, class: "right-area-content" %>
                <%= link_to "新規登録", new_user_registration_path, class: "right-area-content" %>
              </div>
            <% end %>
          </div>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>